.dbslogo {
    margin: 5px;
    width:150px;
    height:50px;
}

.container{
    width: "100%";
    height: "20%";
    background-color: black;
    text-decoration: white;
}

.buttonNav{
    align-self:center;
    appearance: default;

}